<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merry Christmas</title>
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/horizontalPage.css">
</head>

<body>

    <div class="navBar">
        <div class="icon"><a href="/">HUI</a></div>
        <div class="cursor" color="#fff"></div>
    </div>

    <div class="container">
        <section>
            <div class="content">
                <h2>Section 1</h2>
            </div>
        </section>
        <section>
            <div class="content">
                <h2>Section 2</h2>
            </div>
        </section>
        <section>
            <div class="content">
                <h2>Section 3</h2>
            </div>
        </section>
        <section>
            <div class="content">
                <h2>Section 4</h2>
            </div>
        </section>
    </div>

</body>


<script src="/static/js/cursor.js"></script>
<script src="/static/js/horizontalPage.js"></script>

</html>