<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Letter Animation</title>
  <link rel="stylesheet" href="/static/css/default.css">
  <link rel="stylesheet" href="/static/css/letter.css">
</head>

<body>

  <header class="navBar">
    <div class="icon"><a href="/">HUI</a></div>
    <div class="cursor" color="yellow"></div>
  </header>

  <section id="card">
    <div id="card-back">
      <div class="insideWrap">
        <p>See you!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
        <p>Have a good day!</p>
        <p class="signed">HuiW&ouml;n</p>
      </div>
    </div>

    <div id="card-front">
      <div class="frontOutsideWrap">
        <h1>Happy Birthday!</h1>
      </div>
      <div class="frontInsideWrap">
        <p>Hi birthday person,</p>
        <p>Congratulations with your xxth birthday!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
      </div>
      <button id="open">&gt;</button>
      <button id="close">&lt;</button>
    </div>
  </section>

</body>

<script src="/static/js/cursor.js"></script>
<script src="/static/js/letter.js"></script>

</html>