<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Letter Animation</title>
  <link rel="stylesheet" href="/static/css/default.css">
  <link rel="stylesheet" href="/static/css/letterEffect.css">
</head>

<body>

  <header class="navBar">
    <div class="icon"><a href="/">HUI</a></div>
    <div class="cursor" color="yellow"></div>
  </header>

  <div class="envelope">
    <div class="cardPreview">
      <p>Happy Birthday!</p>
    </div>
  </div>

  <div class="background"></div>

  <section class="card">
    <p class="recipient">Dear HUI</p>
    <p class="sender">From HUI</p>
    <div class="contents">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      <p>Architecto temporibus, earum corrupti neque provident</p>
      <p>assumenda harum quis tenetur eos quia libero quae iure,</p>
      <p> vero sunt id, voluptates labore ipsum esse.</p>
    </div>
  </section>

</body>

<script src="/static/js/cursor.js"></script>
<script src="/static/js/letterEffect.js"></script>

</html>