<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Letter Animation</title>
  <link rel="stylesheet" href="/static/css/default.css">
  <link rel="stylesheet" href="/static/css/letterEffect.css">
</head>

<body>

  <header class="navBar">
    <div class="icon"><a href="/">HUI</a></div>
    <div class="cursor" color="yellow"></div>
  </header>


  <div class="envelope">
    <div class=" cardPreview">
      <h3>Happy Birthday!</h3>
      <p>From. HUI</p>
    </div>
  </div>

  <div class="card">
    <p>See you!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
    <p>Have a good day!</p>
  </div>

</body>

<script src="/static/js/cursor.js"></script>
<script src="/static/js/letterEffect.js"></script>

</html>