<html>

<head>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/cardmotion.css">
    <link rel="stylesheet" href="../static/css/burning.css">
</head>

<body>
    <header class="nav">
        <div class="nav-fix">
            <div class="logo"><a href="" style="color:black">HUI</a></div>
            <div class="nav-item"><a href="">Projects</a></div>
            <div class="nav-item"><a href="">About</a></div>
            <div class="nav-item"><a href="">Contact</a></div>
            <div class="nav-item"><button id="menu-btn">Menu</button></div>
        </div>

        <div class="nav-pop">
            <ul class="nav-list">
                <li>
                    <a href="/">1</a>
                </li>
                <li>
                    <a href="/">2</a>
                </li>
                <li>
                    <a href="/">3</a>
                </li>
            </ul>
        </div>
    </header>

    <div class="back-container">
        <div class="container">
            <div class="card">
                <div class="front">
                    DEVELOPER
                </div>
                <div class="back">DESIGNER</div>
            </div>
        </div>
    </div>

    <div>
        <div class="second">
            <div>
                <span class="pink underline p1">
                    <span>Fashion Calendar</span>
                    <span class="p2">Looklendar</span>
                </span>
            </div>
            <div>
                <span class="pink underline p1">
                    <span>Fashion Commerce</span>
                    <span class="p2">Mansbuy</span>
                </span>
            </div>
            <div>
                <section class="p3">
                    <a href="#" data-cont="" class="p4">Fashion Commerce Mansbuy</a>
                  </section>
            </div>
        </div>
    </div>

</body>


<script src="../static/js/main.js"></script>

</html>