@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Nanum+Pen+Script&family=Stylish&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.envelope {
  position: relative;
  width: 28vw;
  height: 21vw;
  background: seashell;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.envelope:before,
.envelope:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-width: 10.5vw 14vw;
}

.envelope:before {
  border-bottom-color: pink;
  top: -100%;
  left: 0px;
}

.envelope:after {
  top: 0;
  border-left-color: rgb(255, 172, 189);
  border-bottom-color: pink;
  border-right-color: rgb(255, 172, 189);
  border-radius: 0 0 5px 5px;
  transform: rotate(360deg);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.cardPreview {
  color: #fa5252;
  width: 100%;
  height: 100%;
  font-size: 15rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cardPreview p {
  font-size: 2rem;
}

.cardPreview.moveUp {
  animation: moveUp 2s ease;
}

@keyframes moveUp {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  60% {
    transform: translateY(-70%);
    opacity: 1;
  }
  100% {
    transform: translateY(-400%);
    opacity: 0;
  }
}

.card {
  position: absolute;

  width: 100%;
  height: 100%;
  z-index: 3;
  color: #f2ffe9;

  transition: opacity 2s ease;
  opacity: 0;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .recipient,
.card .sender {
  position: absolute;
  font-family: "Nanum Pen Script", cursive;
  font-size: 1.5rem;
  margin: 0;
}

.card .recipient {
  top: 3rem;
  left: 3rem;
}

.card .sender {
  bottom: 3rem;
  right: 3rem;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents p {
  margin: 6px;
  font-family: "Nanum Pen Script", cursive;
}

.content {
  position: absolute;
  font-size: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.content.active {
  opacity: 1;
}

.lastContent {
  font-size: 2.5rem;
}

.controllers {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.controllers div {
  width: 30%;
  opacity: 0;
  transition: all 0.5s;
}

.icon {
  display: none;
}

.background {
  position: absolute;
  z-index: 2;
  top: -500px;
  width: 500px;
  height: 500px;
  background: #fa5252;
  border-radius: 50%;
  transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  transition: transform 2s ease;
}

/* ------------ bubbles ----------- */

.card i {
  position: absolute;
  background: thistle;
  border-radius: 100%;
  animation: moveBubbles linear infinite;
}

.card i:nth-child(even) {
  background: transparent;
  border: 1px solid thistle;
}

@keyframes moveBubbles {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-2000%);
    opacity: 0;
  }
}

/* ----------------- velas ------------------ */
.velas {
  background: #ffffff;
  border-radius: 4px;
  position: relative;

  width: 6px;
  height: 40px;
  margin-bottom: 6px;
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/* ----------------- Fire ----------------- */
.fuego {
  border-radius: 100%;
  position: absolute;
  top: -24px;
  margin-left: -1px;
  width: 8;
  height: 20px;
}

.fuego:nth-child(1) {
  -webkit-animation: fuego 2s infinite;
  animation: fuego 2s infinite;
}

.fuego:nth-child(2) {
  -webkit-animation: fuego 1.5s infinite;
  animation: fuego 1.5s infinite;
}

.fuego:nth-child(3) {
  -webkit-animation: fuego 1s infinite;
  animation: fuego 1s infinite;
}

.fuego:nth-child(4) {
  -webkit-animation: fuego 0.5s infinite;
  animation: fuego 0.5s infinite;
}

.fuego:nth-child(5) {
  -webkit-animation: fuego 0.2s infinite;
  animation: fuego 0.2s infinite;
}

@-webkit-keyframes fuego {
  0%,
  100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@keyframes fuego {
  0%,
  100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}

/* -------------------- Media query ----------------- */
/* mobile */
@media (min-width: 350px) and (max-width: 768px) {
  .card .recipient {
    top: 2rem;
    left: 2rem;
  }

  .card .sender {
    bottom: 2rem;
    right: 2rem;
  }

  .content {
    font-size: 24px;
  }

  .lastContent {
    font-size: 2rem;
  }

  .envelope {
    width: 60vw;
    height: 45vw;
  }

  .envelope:before,
  .envelope:after {
    border-width: 22.5vw 30vw;
  }

  .cardPreview {
    font-size: 10rem;
  }

  .controllers div {
    width: 40%;
  }
}

/* hover:hover는 마우스가 있는 장치의 경우 true 처리된다.
  hover:none은 터치 입력이 사용되는 장치의 경우 true */
@media (hover: hover) {
  .controllerLeft.active:hover,
  .controllerRight.active:hover {
    cursor: pointer;
    opacity: 0.15;
  }

  .controllerLeft.active:hover {
    background: linear-gradient(to left, #fa5252, black);
  }

  .controllerRight.active:hover {
    background: linear-gradient(to right, #fa5252, black);
  }
}
