section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

section div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #121212;
}

section div:nth-child(2) {
    background: #F63E61;
    clip-path: circle(200px at center);
}

section div h2 {
    position: absolute;
    left: 0;
    font-size: 10em;
    color: var(--purple);
    white-space: nowrap;
    line-height: 100vh;
    animation: animate 60s linear infinite;
}

section div:nth-child(2) h2 {
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: var(--purple);
    color: transparent;
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}