body {
  background: #242424;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.envelope {
  position: relative;

  /* mobile */
  /* width: 60vw;
  height: 45vw; */

  width: 28vw;
  height: 21vw;

  background: red;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.envelope::before,
.envelope::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;

  /* mobile */
  /* border-width: 22.5vw 30vw; */

  border-width: 10.5vw 14vw;
}

.envelope::before {
  border-bottom-color: red;
  top: -100%;
  left: 0px;
}

.envelope::after {
  top: 0;
  border-left-color: red;
  border-bottom-color: red;
  border-right-color: rgb(255, 85, 85);
  border-radius: 0 0 5px 5px;
  transform: rotate(360deg);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.cardPreview {
  width: 95%;
  height: 95%;
  background: #425642;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardPreview.moveUp {
  animation: moveUp 2s ease;
}

@keyframes moveUp {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  60% {
    transform: translateY(-40%);
    opacity: 1;
  }
  100% {
    transform: translateY(-150%);
    opacity: 0;
  }
}

.card {
  position: absolute;
  padding: 3rem;
  background: lightgoldenrodyellow;

  width: 50vw;
  height: 70vh;

  display: none;
  transition: opacity 1s ease;
  opacity: 0;
}

.background {
  position: absolute;
  top: -500px;
  left: 35%;
  width: 500px;
  height: 500px;
  background: #425642;
  border-radius: 50%;
  transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  transition: transform 2s ease;
}
