.second{
    width: 100%;
    height: 95vh;
}
.underline {
    line-height: 1.2;
    font-family: -apple-system, Helvetica, "Apple Color Emoji", Arial;
    font-size: 3em;
    font-weight: 700;
    background-image: linear-gradient(transparent calc(100% - 3px), #000 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.8s;
    color: #000;
    cursor: pointer;
}

@media (min-width: 1000px) {
    .underline {
        font-size: 5em;
    }
}

.underline.yellow {
    background-image: linear-gradient(transparent 60%, #F8CD07 40%);
}

.underline:hover {
    background-size: 100% 100%;
}