* {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b14ae9;
}

.wave span {
    position: absolute;
    width: 300vh;
    height: 300vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wave span:nth-child(1) {
    animation: wave 5s linear infinite;
    border-radius: 50%;
    background: rgba(20, 20, 20, 1);
}

.wave span:nth-child(2) {
    animation: wave 10s linear infinite;
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
}

.wave span:nth-child(3) {
    animation: wave 15s linear infinite;
    border-radius: 43%;
    background: rgba(20, 20, 20, 0.25);
}

@keyframes wave {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

section .content {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 4rem;
}